.wrapper {
    height: 100vh;
    padding-top: 25vh;
    // backdrop-filter: blur(10px);
    // background-color: transparent;
}

h1 {
    // color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-weight: 600;
}

.container {
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 10px 0px;
    display: grid;
    width: 350px;
    padding: 40px;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, .9);
    // backdrop-filter: blur(40px);
    border-radius: 10px;
}

button {
    width: 150px;
    margin-top: 22px;
    place-self: center;
}

// .mat-form-field-appearance-fill .mat-form-field-flex {
//     background-color: rgb(255 255 255);
// }